<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        tr,td {
            padding: 10px;

        }
    </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Attendance System</title>
</head>
<body>
    <h1>Attendance Management</h1>

    <!-- Form to Add New Attendance Record -->
    <h2>Add New Attendance</h2>
    <form action="/add" method="POST" enctype="multipart/form-data">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" required></br>
        <br>
        <label for="image">Upload photo</label>
        <input type="file" name="file">
    </br>
    <br>
        <label for="image">Upload photo</label>
        <input type="file" name="file">
        <button type="submit">Add Attendance</button>
    </form>

    <hr>

    <!-- Display All Attendance Records -->
    <h3> Attendance : {{ attendance }}</h3>
    <h2>Attendance Records</h2>
    <table border="1">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Entry Time</th>
        </tr>
        {% for record in attendance %}
        <tr>
            <td>{{record[0]}}</th>
            <td>{{record[1]}}</th>
            <td>{{record[2]}}</th>
        </tr>
        {% endfor %}
    </table>

</body>
</html>
