<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script type="text/javascript" src="{{url_for('static',filename='javascript/main.js')}}"></script>
</head>
<body>
   <h2>HTML Forms</h2>
   <form action="/submit" method="POST">
    <label for="Science">Science:</label>
    <input type="text" name="sc" id="Science"><br><br>
    <label for="Math">Math</label>
    <input type="text" name="mth" id="Math"><br><br>
    <label for="C programming">C programming</label>
    <input type="text" name="cprog" id="C programming"><br><br>
    <label for="English">English</label>
    <input type="text" name="Eng" id="English"><br><br>
    <label for="Nepali">Nepali</label>
    <input type="text" name="Nep" id="Nepali"><br><br>
    <input type="submit" value="submit">
   </form>
</body>
</html>