<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
   <h2>HTML Forms</h2>
   <form action="/submit" method="post">
    <label for="Science">Science:</label>
    <input type="text" name="Science" id="Science"><br><br>
    <label for="Math">Math</label>
    <input type="text" name="Math" id="Math"><br><br>
    <label for="C programming">C programming</label>
    <input type="text" name="C programming" id="C programming"><br><br>
    <label for="English">English</label>
    <input type="text" name="English" id="English"><br><br>
    <label for="Nepali">Nepali</label>
    <input type="text" name="Nepali" id="Nepali"><br><br>
    <input type="submit" value="submit">
   </form>
</body>
</html>